/*
 * Derived from:
 * vc4-kms-dsi-ti-sn65dsi84-CSD123IA-01D-overlay.dts
 * aBUGSworsnightmare 20250731
 *
 * Edited for RPI_CMx_Carrier by Jean-Francois Bilodeau, P.Eng on 2026-03-07
 *
 * RPI_CMx_Carrier uses SN65DSI84 on DSI1 with up to 4x DSI lanes and 1x 4-lane LVDS output on LVDS_A. 
 * The DSI bridge is controlled through I2C3 and doesn't have a dedicated enable input.
 * The display panel is from Riverdi and the part number is RVT70HSLFWCA0.
 * The backlight driver is from Texas Instruments TPS61169 and is driven by PWM0_0 on RPI_CMx GPIO12, and doesn't have a dedicated enable input.
 * The schematic can be found on Github --> https://github.com/lecejeff/RPI_CMx_Carrier
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/bcm2835.h>

/ {
	compatible = "brcm,bcm2835";

	/* PWM0 function */
	/* RPI_CMx_Carrier uses PWM0_0 on GPIO12 */
	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			pwm_pins: pwm_pins {
				//brcm,pins = <19>;						
				brcm,pins = <12>;						// Assign PWM0_0 to GPIO12
				//brcm,function = <BCM2835_FSEL_ALT5>;	
				brcm,function = <BCM2835_FSEL_ALT0>;	// RPI CM4 and CM5 GPIO12 PWM0_0 is on ALT0 assignment
				brcm,pull = <0>;
			};
		};
	};

	fragment@1 {
		target = <&pwm>;
		frag1: __overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm_pins>;
			assigned-clock-rates = <50000000>;
			status = "okay";
		};
	};

	fragment@2 {
		target-path = "/";
		__overlay__ {
			//#gpio-cells = <2>;
			/* Panel backlight through PWM0_0 on GPIO 12 */
			backlight_lvds: backlight {
				compatible = "pwm-backlight";
				//pwms = <&pwm 1 1000000 0>; 	/* Period of 1000000ns means 1KHz */
				pwms = <&pwm 1 50000000 0>; 	/* Period of 50000000ns means 50KHz --> TPS61169 backlight driver recommends PWM frequency between 5 to 100 kHz */
				brightness-levels = <0 1000>;
				num-interpolated-steps = <1000>;
				default-brightness-level = <800>;
				//enable-gpios = <&gpio 27 GPIO_ACTIVE_HIGH>;     /* Backlight enable --> RPI_CMx_Carrier backlight is always enabled */
			};

			panel: panel {
				compatible = "panel-lvds";
				backlight = <&backlight_lvds>;

				/* Physical dimensions of active area */
				width-mm = <292>;
				height-mm = <110>;

				data-mapping = "vesa-24";

				/* RVT70HSLFWCA0 */
				/* 800 x 480 pixels  */
				panel-timing {
					clock-frequency = <30000000>;
					hactive = <800>;
					vactive = <480>;
					hfront-porch = <210>;
					hback-porch = <16>;
					hsync-len = <30>;
					vfront-porch = <22>;
					vback-porch = <10>;
					vsync-len = <13>;
					hsync-active = <0>;
					vsync-active = <0>;
					de-active = <1>;
					pixelclk-active = <0>;
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c3>;
		__overlay__ {
			#gpio-cells = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			/* Information for RVT70HSLFWCA0 */
			bridge@2c {
				compatible = "ti,sn65dsi84";
				reg = <0x2c>;
				ti,dsi-lanes = <4>;
				ti,lvds-format = <0>;
				ti,lvds-bpp = <24>;
				ti,lvds--channels = <1>;
				ti,width-mm = <154>;
				ti,height-mm = <87>;
				pinctrl-names = "default";
				status = "okay";
			};
		};
	};

	fragment@4 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port {
				dsi_out_port: endpoint {
					remote-endpoint = <&bridge_in>;
					data-lanes = <1 2 3 4>;
				};
			};
		};
	};

	fragment@5 {
		target = <&i2c3if>;
		__overlay__ {
			status = "okay";
		};
	};
		
	fragment@6 {
		target = <&i2c3mux>;
		__overlay__ {
			status = "okay";
		};
	};
};