/*
 * Derived from:
 * vc4-kms-dsi-ti-sn65dsi84-CSD123IA-01D-overlay.dts
 * aBUGSworsnightmare 20250731
 *
 * Edited for RPI_CMx_Carrier by Jean-Francois Bilodeau, P.Eng on 2026-03-07
 *
 * RPI_CMx_Carrier uses SN65DSI84 on DSI1 with up to 4x DSI lanes and 1x 4-lane LVDS output on LVDS_A. 
 * The DSI bridge is controlled through I2C3 on CM4 and doesn't have a dedicated enable input.
 * The display panel is from Riverdi and the part number is RVT70HSLFWCA0.
 * The backlight driver is from Texas Instruments TPS61169 and is driven by PWM0_0 on RPI_CMx GPIO12, and doesn't have a dedicated enable input.
 * The schematic can be found on Github --> https://github.com/lecejeff/RPI_CMx_Carrier
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/bcm2835.h>

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target-path = "/";
		__overlay__ {

			panel: panel {
				compatible = "panel-lvds";
				backlight = <&backlight_lvds>;

				/* Physical dimensions of active area */
				width-mm = <154>;
				height-mm = <86>;

				data-mapping = "vesa-24";

				/* RVT70HSLFWCA0 */
				/* 1024 x 600 pixels  */
				panel-timing {
					clock-frequency = <51200000>;
					hactive = <1024>;
					vactive = <600>;
					hfront-porch = <160>;
					hback-porch = <160>;
					hsync-len = <70>;
					vfront-porch = <12>;
					vback-porch = <23>;
					vsync-len = <10>;
					hsync-active = <0>;
					vsync-active = <0>;
					de-active = <1>;
					pixelclk-active = <0>;
				};
			};
		};
	};

	fragment@1 {
		target = <&i2c3>;
		__overlay__ {
			#gpio-cells = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			/* Information for RVT70HSLFWCA0 */
			bridge@2c {
				compatible = "ti,sn65dsi84";
				reg = <0x2c>;
				ti,dsi-lanes = <4>;
				ti,lvds-format = <0>;
				ti,lvds-bpp = <24>;
				ti,lvds--channels = <1>;
				ti,width-mm = <154>;
				ti,height-mm = <86>;
				pinctrl-names = "default";
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port {
				dsi_out_port: endpoint {
					remote-endpoint = <&bridge_in>;
					data-lanes = <1 2 3 4>;
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c3if>;
		__overlay__ {
			status = "okay";
		};
	};
		
	fragment@4 {
		target = <&i2c3mux>;
		__overlay__ {
			status = "okay";
		};
	};
};